{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="header-bg">
         <div class="wrapper companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
    </div>
    <nav class="navbar clearfix">
       {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </nav>
</header>

<section>
    {{widget('responsiveslideshow', 'responsiveslideshow',
        {'duration':'5',
            'transSpeed': '1500',
            'transType': 'fade',
            'showButtons': false,
            'showBullets': false,
            'allowPause': false,
            'allowLoop': true,
            'showDescription': true,
            'showTitle': true,
            'crop': true
        })|raw
    }}
</section>

<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/668ae470cd075e448c57029410db7ff0.html" id="lightwidget_668ae470cd" name="lightwidget_668ae470cd"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>



<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'profile', 'refreshtime':'1800000'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}
